@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: yellow;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: blueviolet;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: orange;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: lavenderblush;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: lightgreen;  
  color: white;
  border-radius: 4px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}
.card__header{ border-radius: 20px 20px 0 0;}


.card__header,
.card__content {
  padding: 1rem;
  background-color: lightgreen;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: lawngreen;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

/*style for calendar and agenda*/
.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem;  
}

.calendar {
  width: 400px;
  background-color: #55dde0;
  box-shadow:5px 10px 10px black;
  border-radius: 10px;
  margin-top: 2em;
  margin-left: 1em;
}

.prev {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color:#f6ae2d;
  color: black;
  border-radius: 10px;

}

.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f6ae2d;
  color: black;
  float: right;
  border-radius: 10px;
}

.cal-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.cal-header > div {
  flex: 1; 
}

.cal-header span {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 2px red;
  color: blue;
 }
 
.calendar .date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar .day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #f26419;

}
.calendar .now {
  text-decoration: none;
  margin: 0 auto;
  padding: 5px;
  color: #262626;
}
  
.calendar .same-month {
  text-decoration: none;
  margin: 0 auto;
  padding: 5px;
  color: #262626;
}

.calendar .no-month {
  text-decoration: none;
  color: gray;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.calendar a:hover {
  background-color: #ddd;
  
}
.agenda {
  font-family: Josefin Sans, sans-serif;
  border: solid 2px blue;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 0 15px 25px 15px;
  width: 400px;
  margin-top: 1em;
  margin-left: 1em;
  box-shadow:5px 10px 10px black;
}
.agenda .weekday h2 {
  color: blue;
  text-shadow: 0.5px 0.5px 2px red;
  margin: 0.5rem;
  
}

.agenda .hours span {
  display: inline-block;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px black;
  word-wrap: normal;
  color: black;
  font-weight: 900;
    
}
div.agenda .hours input {
  padding: 0;
  min-height: 60px;
  width: 100%;
}
 
@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
.agenda {
width: 600px;
}  
  
  
}
