.app-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 1em;
}
.sidebar-container {
  border: 0.25em solid $violet;
  border-radius: 0.85vw;
  padding: 1em;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.25em;
  @include MQ(L) {
    grid-gap: 1em;
  }
}

.day-container {
  cursor: pointer;
  display: grid;
  border: 2px solid $blue;
  min-height: 100px;
  border-radius: 0.85vw;
  transition: 0.35s;
  &:hover {
    transform: scale(1.08);
  }
}

.date-num {
  text-align: right;
  padding-top: 1vw;
  padding-right: 2vw;
  color: $dark;
  font-size: 3vw;
  opacity: 0.35;
  pointer-events: none;
  @include MQ(M) {
    font-size: 4vw;
  }
}

.current-date {
  background-color: $orange;
  border-color: $dark-orange;
  .date-num {
    opacity: 1;
    color: $light;
  }
}
