<div id="agenda">
    <div  id="day">
    <h2>Monday</h2>
    </div>
    <div id="hours">
        <div><span>08:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>09:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>10:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>11:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>12:00 pm</span><input type="text" placeholder="Write here"/></div>
        <div><span>01:00 pm</span><input type="text" placeholder="Write here"/></div>
        <div><span>02:00 am</span><input type="text" placeholder="Write here"/></div>  
        <div><span>03:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>04:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>05:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>06:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>07:00 am</span><input type="text" placeholder="Write here"/></div>
        <div><span>08:00 am</span><input type="text" placeholder="Write here"/></div>
    </div>
</div>
