<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<div id="calendar">
    <div id="first-calendar">
         <div id="Calendar-header">
            <button><</button>
            <span>January    </span>
            <button>></button>
         </div>
         <div>
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            <span>S</span>
         </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
    </div>
    

    <div id="second-calendar">
         <div id="Calendar-header">
            <button><</button>
            <span>January    </span>
            <button>></button>
         </div>
         <div>
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            <span>S</span>
         </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
         <div>
             <a href="#" >1</a>
             <a href="#" >2</a>
             <a href="#" >3</a>
             <a href="#" >4</a>
             <a href="#" >5</a>
             <a href="#" >6</a>
             <a href="#" >7</a>
        </div>
    </div>
</div>
<%- include('../cal/agenda.ejs') %>

<%- include('../includes/end.ejs') %>
